!!! .Xresources file!!!
! Comments start with !, C style # define statements can be used only if
! this file is processed with xrdb -merge $HOME/.Xresources

! #ifdef COLOR
!     *customization: -color
! #endif

! #define FONT -*-UnifontMedium-*-*-*-*-*-110-*-*-*-*-*-*

!!! Setting the ttf Font Face !!!

XTerm*faceName: Unifont
XTerm*faceSize: 9
XTerm*renderFont: true

! VT Font Menu: Unreadable
xterm*faceSize1: 3
! VT font menu: Tiny
xterm*faceSize2: 6
! VT font menu: Medium
xterm*faceSize3: 11
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22

!!! Setting XTerm Colors !!!
*background: #000000
*foreground: #ffffff
*color0:     #000000
*color1:     #d36265
*color2:     #aece91
*color3:     #e7e18c
*color4:     #7a7ab0
*color5:     #963c59
*color6:     #418179
*color7:     #bebebe
*color8:     #666666
*color9:     #ef8171
*color10:    #e5f779
*color11:    #fff796
*color12:    #4186be
*color13:    #ef9ebe
*color14:    #71bebe
*color15:    #ffffff
XTerm*background: white
XTerm*foreground: black
XTerm*pointerColor: black
XTerm*PointerColorBackground: white
XTerm*cursorColor: black
XTerm*pointerShape: double_arrow

! XTerm*font: 
! XTerm*internalBorder:
! XTerm*LoginShell:
! XTerm*scrollBar:
! XTerm*xcrollKey:


! Color theme (especially for terminal like xterm)
