!!! .Xresources file !!!
! Comments start with !, C style # define statements can be used only if
! this file is processed with xrdb -merge $HOME/.Xresources


*visualBell: true

!!!!!!!!!!!!!!!!
!!! Setting the ttf Font Face
!!!!!!!!!!!!!!!!

*faceName: Unifont
*faceSize: 10
*renderFont: true
*forceBoxChars: true
!*utf8: true

! VT Font Menu: Unreadable
*faceSize1: 3
! VT font menu: Tiny
*faceSize2: 6
! VT font menu: Small
*faceSize3: 8
! VT font menu: Medium
*faceSize4: 14
! VT font menu: Large
*faceSize5: 18
! VT font menu: Huge
*faceSize6: 22

!!!!!!!!!!!!!!!!
!!! Setting XTerm Colors
!!!!!!!!!!!!!!!!

! black
*color0:     #000000
!red3
*color1:     #ff7092
!green
*color2:     #00fbac
!yellow3
*color3:     #fffa6a
!DodgerBlue1
*color4:     #00bfff
!magenta3
*color5:     #df95ff
!cyan3
*color6:     #86cbfe
!gray90
*color7:     #ffffff
!brightBlack gray30
*color8:     #000000
!brightRed red
*color9:     #ff8aa4
!brightGreen green
*color10:    #21f6bc
!brightYellow yellow
*color11:    #fff787
!brightBlue SteelBlue1
*color12:    #1bccfd
!brightPurple magenta
*color13:    #e6zefe
!brightCyan cyan
*color14:    #99d6fc
!brightWhite white
*color15:    #ffffff

*background: #332a57
*foreground: #e5e5e5

*colorMode: true
*boldColors: true
*boldMode: true
*dynamicColors: true

!!!!!!!!!!!!!!!!
!!! Unused Keys
!!!!!!!!!!!!!!!!

! XTerm*font: 
! XTerm*internalBorder:
! XTerm*LoginShell:
! XTerm*scrollBar:
! XTerm*xcrollKey:
